In [2]:
cities = ["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles", "Seattle"]

In [2]:
print("Welcome to " + cities[3])

Welcome to Denver

In [3]:
mixed_things = [1, "Bob", "Now is"]

# Adding something in list

In [6]:
cities.append('Karachi')
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'Karachi',
 'Karachi']

In [7]:
cities = cities + ["Dubuque", "New Orleans"]
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'Karachi',
 'Karachi',
 'Dubuque',
 'New Orleans']

If I want to insert "New York" at the beginning of the list, I write…

In [3]:
cities.insert(0,'karachi') #at index 0
cities

['karachi',
 'Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle']

# 17 Lists: Taking slices out of them

In [10]:
#…you can copy elements 2 through 4 to create another list… 
smaller_list_of_cities = cities[2:5] 
smaller_list_of_cities

['Baltimore', 'Chicago', 'Denver']

In [5]:
#When the first element of the slice is the first element of the original list— the element with an index of 0—you 
#can omit the first number altogether: 
smaller_list_of_cities = cities[5:] 
smaller_list_of_cities

['Los Angeles', 'Seattle']

# 18 Lists: Deleting and removing elements

In [15]:
del cities[1]
cities

['New York',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'Karachi',
 'Karachi',
 'Dubuque',
 'New Orleans']

In [18]:
cities.remove("Karachi")
cities

['New York',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'Dubuque',
 'New Orleans']

# 19 Lists: popping element

In [26]:
tasks = ["email Frank", "call Sarah", "meet with Zach"]

In [29]:
a=[] #jise nikalna aik jaga se but dosry jaga add by karna hu
a.append(tasks.pop(0)) 
a

['email Frank']

In [21]:
tasks

['email Frank', 'meet with Zach']

In [28]:
a=[0,1,2,3,4,5,6,7]
a[5:]

[5, 6, 7]

In [13]:
a[2:]

[2, 3, 4, 5, 6, 7]

In [12]:
smaller_list_of_cities = cities[2:]
smaller_list_of_cities

['Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']

In [25]:
del a[0]
a

[1, 2]

In [29]:
a.remove(1)
a

[0, 2, 3, 4, 5, 6, 7]

In [35]:
tasks = ["email Frank", "call Sarah", "meet with Zach"]

In [45]:
cleanest_cities = ["Cheyenne", "Santa Fe", "Tucson", "Great Falls", "Honolulu"]
cleanest_cities.upper()

AttributeError: 'list' object has no attribute 'upper'

In [60]:
city_to_check = "Tucson" 
for a_clean_city in cleanest_cities: 
    if city_to_check == a_clean_city: 
        print("It's one of the cleanest cities")

In [61]:
cleanest_cities = ["cheyenne", "santa fe", "tucson", "great falls", "honolulu"]
city_to_check = city_to_check.title()
city_to_check

'Tucson'